*{
    border:1px solid black;
}

*{
    padding:0;
    margin:0;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap
}

/* HEADER */

.header{
    min-width: 95%;
    min-height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    min-width: 20%;
}

.nav-bar ul{
    display:flex;
    list-style-type: none;
    justify-content: space-around;
}

/* END HEADER */

/* MAIN */


.main{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
    min-height: 300vh;
}

.main-title{
    margin:40px;
    margin-top:10%;
    margin-bottom:30%;
}
.main-title > h1{
    font-size: 4rem ;
}

.main-content{
    max-width: 80%;
    height:150vh;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
}

section{
    text-align: center;
    /* max-width: 70%; */
}

.section1-detail, .section2-detail{
    display:flex;
    /* margin-bottom:10%; */
}

.section1{
    /* margin-top:10%; */
}




/* END MAIN */

/* FOOTER */

.footer{
    min-height:8vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}



/* END FOOTER */